body{
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --brown: #56493F;
    --yellow: #FFCA4B;
    --white: #FFFFFF;
}

h2{
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    /* 16px */
    line-height: 120%;
    letter-spacing: 1px;
    color: var(--brown);
}

h3{
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 0.825rem;
    /* 14px */
    line-height: 120%;
    letter-spacing: 1px;
    color: var(--brown);
}

h4{
    font-family: 'NanumBarunpen';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem; 
    /* 12px */
    line-height: 120%; 
    /* or 14px */
    color: var(--brown);
}

/* comment out once ready */
.pre-size{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.menu-description{
    display: none;
}
.link-to-video{
    display: none;
}


@media (min-width: 64em) and (max-width: 120em) {
    body{
        background-color: #FBF8F4;
    }

    .hero-container{
        width: 88vw;
        margin: auto;
        margin-top: 8vh;
    }
    
    .hero-flex{
        display: flex;
    }
    
    .hero-left{
        width: 800px;
    }
    
    .hero-right{
        width: 400px;
    }

    .links-area{
        height: 40vh;
        width: 70%;
        margin-top: 10px;
        border: solid;
        /* comment out later */œ
    }

    
    .scroll, .youtube, .blog, .instagram{
        text-align: center;
    }


    .hero-content{
        margin-top: 16px;
    }

    .text-logo{
        margin-top: 18px;
    }

    .text-logo-subtitle{
        display: inline;
        position: relative;
        bottom: 4px;
        left: 4px;
    }


    .description-content{
        margin-top: 40px;
        width: 90%;
    }

    
    /* waves */
    


    



    

    

    










}